{
  "crypto": {
    "kdf": {
      "function": "scrypt",
      "params": {
        "dklen": 32,
        "n": 123123,
        "r": 8,
        "p": 1,
        "salt": "abc123abc123abc123"
      },
      "message": ""
    },
    "checksum": {
      "function": "sha256",
      "params": {},
      "message": "abc123abc123abc123"
    },
    "cipher": {
      "function": "aes-128-ctr",
      "params": {
        "iv": "abc123abc123abc123"
      },
      "message": "abc123abc123abc123"
    }
  },
  "description": "",
  "pubkey": "abc123abc123abc123",
  "path": "m/12381/3600/0/0/0",
  "uuid": "abc123-1234-1234-1234-abc123abc123abc",
  "version": 4
}